In [1]:
print('hello, world!')   # shift + enter

hello, world!

In [2]:
print('a')  # enter == go down one line
print('b')  # enter == go down one line
print('c')  # shift+enter == execute the cell

a
b
c

In [3]:
x = 100

In [4]:
print(x*2)

200

In [5]:
x*2

200

In [6]:
x

100

In [7]:
type(x)

int

In [8]:
x = 'abcde'

type(x)

str

In [9]:
x = 10
y = 20

x + y

30

In [10]:
x = 'abcd'
y = 'efgh'

x + y

'abcdefgh'

In [11]:
x = 10
y = '20'

x + y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
# raw_input -- always returns a string

name = raw_input("Enter your name: ")

Enter your name: Reuven

In [13]:
print(name)

Reuven

In [14]:
name

'Reuven'

In [15]:
print('Hello, ' + name)

Hello, Reuven

In [17]:
name = raw_input("Enter your name: ")

print('a')
if name == 'Reuven':
    print('Hello, boss!  Nice to see you again!')
    print('It has been far too long!')
else:
    print('Hello, ' + name + ', whoever you are.')
print('b')

Enter your name: asdfafa
a
Hello, asdfafa, whoever you are.
b

In [ ]:
name = raw_input("Enter your name: ")

if name == 'Reuven':
    print('Hello, boss!  Nice to see you again!')
    print('It has been far too long!')
elif name == 'something else':
    print('That is not a real name!')
else:
    print('Hello, ' + name + ', whoever you are.')

In [18]:
x = 10
y = 20

if x == 10 and y == 20:
    print('Both are what you wanted')

Both are what you wanted

In [19]:
if x == 999 or y == 20:
    print('One is what you want')

One is what you want

In [20]:
x = 0.5
x == 0.5

True

In [21]:
type(x)

float

In [22]:
z == 10

NameError: name 'z' is not defined

In [23]:
x = 5
if x == 5:
print('hello')

IndentationError: expected an indented block (<ipython-input-23-e603a38895ac>, line 3)

# Exercise: Name + company

1. Ask the user to enter their name and company, and assign to two separate variables.
2. If the name + company are just like you, say so.
3. If just the name is the same, indicate that you have the same name but say you work at different companies.
4. If just the company name is the same, say you work at the same place.
5. If nothing is the same, then make a generic remark.

In [24]:
#      2               3
#    raw_input        input
#     input          (does not exist)

In [25]:
name = raw_input('Enter your name: ')
company = raw_input("Enter your company: ")

if name == 'Reuven' and company == 'WDC':
    print('We are exactly the same!')
elif name == 'Reuven':
    print('We work at different companies')
elif company == 'WDC':
    print('We have different names')
else:
    print('We are totally different.')

Enter your name: Reuven
Enter your company: somewhere else
We work at different companies

In [26]:
# None

In [27]:
x = 100

In [28]:
X * 2

NameError: name 'X' is not defined

In [29]:
x = None

In [30]:
print(x)

None

In [31]:
x

In [32]:
None == None

True

In [34]:
None == 0

False

In [35]:
x = None

if x == None:
    print('Yes, it is None!')

Yes, it is None!

In [36]:
if x is None:
    print('Yes, it is None!')

Yes, it is None!

In [37]:
a = [10, 20, 30]
b = [10, 20, 30]

a == b

True

In [38]:
a is b

False

In [39]:
x = None

if x:
    print('It is True-ish')
else:
    print('It is False-ish')

It is False-ish

In [40]:
None == False

False

In a boolean context, *everything* in Python is considered `True` except:

- `None`
- `False`
- 0 (of any type)
- anything empty

In [42]:
name = raw_input("Enter your name: ")

if name == '':  # not Pythonic!
    print('I wanted a name!')
else:
    print('Hello, ' + name)

Enter your name:
I wanted a name!

In [43]:
name = raw_input("Enter your name: ")

if name:      # do we have a non-empty string?
    print('Hello, ' + name)
else:
    print('I wanted a name!')

Enter your name:
I wanted a name!

In [44]:
x = 100
type(x)

int

In [45]:
x = 10
y = 3

x + y

13

In [46]:
x - y

7

In [47]:
x * y

30

In [49]:
x / y  # in Python 3, I'll get a float back

3

In [50]:
x ** y

1000

In [51]:
x % y

1

In [52]:
x

10

In [53]:
x += 1   # add 1 to x

In [54]:
x = 10
y = '20'

x + y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [55]:
# to get a new object of type NEWTYPE, use NEWTYPE(o)

int(y)

20

In [56]:
y

'20'

In [57]:
x + int(y)

30

# Exercise: Random number guesser

1. Generate a random number from 0-100, and print it out (for debugging)

    ```python
    import random
    number = random.randint(0, 100)
    ```

2. Ask the user to guess the number.
3. Tell the user:
   - Too high
   - Too low
   - Just right

In [64]:
import random
number = random.randint(0, 100)

print(number)

guess = raw_input("Enter guess: ")
guess = int(guess)

if guess == number:
    print('Just right!')
elif guess > number:
    print('Too high!')
else:
    print('Too low!')

82
Enter guess: 100
Too high!

In [65]:
'1' > 1000000000000

True

In [68]:
import random
number = random.randint(0, 100)

print(number)

guess = int(raw_input("Enter guess: "))

if guess == number:
    print('Just right!')
elif guess > number:
    print('Too high!')
else:
    print('Too low!')

90
Enter guess: 1
Too low!

In [69]:
'def' > 'abc'

True

In [70]:
number = 50
print(number)

50

In [71]:
print('number')

number

In [72]:
x = 100
y = x   # y = 100

x = 200
y

100

In [73]:
x = 1
type(x)

int

In [74]:
x = 1.5
type(x)

float

In [75]:
10 / 3

3

In [76]:
10 / 3.0

3.3333333333333335

In [77]:
int(1.23)

1

In [78]:
float(1)

1.0

In [79]:
float('1.23')

1.23

In [80]:
0.1 + 0.2

0.30000000000000004

In [81]:
0.1 + 0.2 == 0.3

False

In [82]:
10 / 3.0

3.3333333333333335

In [83]:
s = 'abcde'
type(s)

str

In [84]:
s = 'abcdefghijklmnopqrstuvwxyz'
len(s)

26

In [85]:
s[0]

'a'

In [86]:
type(s[0])

str

In [87]:
s[25]

'z'

In [88]:
s[len(s)-1]

'z'

In [89]:
s[-1]   # final character

'z'

In [90]:
s[-2]

'y'

In [91]:
s[-5]

'v'

In [92]:
s[-26]

'a'

In [93]:
s[300]

IndexError: string index out of range

In [94]:
s[-300]

IndexError: string index out of range

In [95]:
s

'abcdefghijklmnopqrstuvwxyz'

In [96]:
s[0] = '!'

TypeError: 'str' object does not support item assignment

In [97]:
# strings are immutable

In [98]:
s

'abcdefghijklmnopqrstuvwxyz'

In [99]:
# slice  

# s[from:to]  or s[from:to:step]

In [100]:
s[10:20]

'klmnopqrst'

In [101]:
s[5:15]

'fghijklmno'

In [102]:
s[5:]  # from index 5 to the end

'fghijklmnopqrstuvwxyz'

In [103]:
s[:15]

'abcdefghijklmno'

In [105]:
s[5:20:3] # start at index 5, end at index 20, add 3 to the index each time

# s[5] + s[8] + s[11] + s[14] + s[17]

'filor'

In [106]:
'b' in s

True

In [107]:
'B' in s

False

In [108]:
'bcd' in s

True

In [109]:
'bdc' in s

False

# Exercise: Pig Latin

1. If the word starts with a vowel (a, e, i, o, or u) then we add 'way' to the word
   - elephant -> elephantway
   - octopus -> octopusway
   - indigo -> indigoway
    
2. If the word does *not* start with a vowel, then we move the first letter to the end of the word, and add "ay"
    - computer -> omputercay
    - table -> abletay
    - tea -> eatay
    
3. Ask the user for a word (all lowercase, no punctuation) and print a translation into Pig Latin.

In [117]:
word = raw_input("Enter a word: ")

if word[0] in 'aeiou':
    print(word + 'way')
else:
    print(word[1:] + word[0] + 'ay')

Enter a word: indigo
indigoway

In [118]:
s = 'abcd\nefgh\nijkl'

print(s)

abcd
efgh
ijkl

In [119]:
s

'abcd\nefgh\nijkl'

In [120]:
s = 'abcd\tefgh\tijkl'

print(s)

abcd	efgh	ijkl

In [121]:
len(s)

14

In [122]:
path = 'c:\abcd\efgh\ijkl'

print(path)

c:bcd\efgh\ijkl

In [123]:
# \a --> ASCII 7 (alarm bell)

In [124]:
path = 'c:\\abcd\\efgh\\ijkl'

print(path)

c:\abcd\efgh\ijkl

In [125]:
# raw string -- all \ automatically doubled
path = r'c:\abcd\efgh\ijkl'

print(path)

c:\abcd\efgh\ijkl

In [126]:
type(path)

str

In [128]:
# triple-quoted string

s = """abcde

fghij

klm 

nopq"""

In [129]:
s

'abcde\n\nfghij\n\nklm \n\nnopq'

In [130]:
print(s)

abcde

fghij

klm

nopq

In [131]:
s = 'שלום'
len(s)

8

In [132]:
print(s)

שלום

In [134]:
print(s[:2])

ש

In [135]:
# Unicode string!

s = u'שלום'
len(s)

4

In [136]:
name = 'Reuven'
number = 123

print('Hello, ' + name + '.  Your number is ' + number + '.')

TypeError: cannot concatenate 'str' and 'int' objects

In [137]:
print('Hello, ' + name + '.  Your number is ' + str(number) + '.')

Hello, Reuven.  Your number is 123.

In [139]:
t = 'Hello, {0}. Your number is {1}.'

#         0      1
t.format(name, number)

'Hello, Reuven. Your number is 123.'

In [140]:
print(t.format(name, number))

Hello, Reuven. Your number is 123.

# Exercise: Age

1. Ask the user in what year they were born.
2. Calculate how old they are.
3. Print a greeting, with their age, using `str.format`

In [141]:
name = 'Reuven'

print('Hello, {0}. How are you, {0}?'.format(name))

Hello, Reuven. How are you, Reuven?

In [146]:
year = int(raw_input("Enter year: "))
age = 2020 - year

print('You are {0} years old this year!'.format(age))

Enter year: 1970
You are 50 years old this year!

In [143]:
year

1970

In [144]:
type(year)

int

In [147]:
year = raw_input("Enter year: ")

print('You are {0} years old this year!'.format(2020 - int(year)))

Enter year: 1970
You are 50 years old this year!